* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100%;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #1e1e1e;
  padding: 16px;
  border-right: 1px solid #333;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background: #3a3a3a;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar button:hover {
  background: #555;
}

/* Canvas */
.canvas {
  flex: 1;
  position: relative;
  background: #111;
  overflow: hidden;
}

/* Card */
.card {
  position: absolute;
  min-width: 180px;
  max-width: 500px;
  min-height:120px;
  background: #f1b269;
  border: 2px solid #6e0000;
  border-radius: 8px;
  padding: 10px;
  color: rgb(0, 0, 0);
  cursor: grab;
  user-select: none;
}

.card:active {
  cursor: grabbing;
}

.card-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.card-content {
  font-size: 14px;
  opacity: 0.8;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-delete {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  opacity: 0.7;
}

.card-delete:hover {
  opacity: 1;
}

/* Обеспечиваем вертикальную прокрутку для списка кнопок */
.sidebar {
  display: flex;
  flex-direction: column;
}

#cardList {
  flex: 1;
  overflow-y: auto;
}

/* weapon card */

.attack-formula {
  margin-left: 20px;
}
.attack-properties{
  margin-left: 20px;
}
.card-lables{
  font-size: small;
}